footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vw 15px 2vw;
}

footer span,
footer button {
  color: var(--clr-contrast);
  font-size: 0.9em;
}

footer ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

footer ul li a img {
  /* filter: brightness(0) invert(1); */
  width: 35px;
  height: 35px;
  transition: 0.2s ease;
}

footer ul li a:focus,
footer ul li a:hover {
  outline: none;
}

footer ul li a:focus img,
footer ul li a:hover img {
  opacity: 0.65;
}

footer a {
  color: var(--clr-contrast);
  border: none;
  cursor: pointer;
  transition: 0.2s ease;
  text-decoration: none;
}

footer a:focus,
footer a:hover {
  outline: none;
  color: var(--clr-main);
}

@media screen and (max-width: 768px) {
  footer {
    padding: 0 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-items: start;
  }

  footer span,
  footer button {
    grid-column: 1;
  }

  footer span {
    grid-row: 1;
  }

  footer button {
    grid-row: 2;
  }

  footer ul {
    grid-row: 1 / 3;
    grid-column: 2;
    width: 100%;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 480px) {
  footer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr repeat(2, fit-content);
    align-items: center;
    justify-items: center;
  }

  footer span {
    font-size: 1em;
  }

  footer button {
    grid-row: 2;
    font-size: 0.75em;
  }

  footer ul {
    grid-row: 3;
    grid-column: 1;
    justify-content: space-between;
    padding: 15px 0 0 0;
  }

  footer ul li a img {
    width: 30px;
    height: 30px;
  }
}