@import url('/styles/colors.css');
@import url('/styles/general.css');
@import url('/styles/header.css');
@import url('/styles/footer.css');

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5vh;
}

main div.clock-container {
  position: relative;
  width: 35vh;
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main div.clock-container div.progress {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 7px solid var(--clr-second);
  border-radius: 50%;
  transform: rotate(45deg);
  clip-path: polygon(0 0, 50% 50%, 0 0, 0 0, 0 0, 0 0);
}

main div.clock-container div.clock {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

main div.clock-container div.clock input#time {
  font-size: 2.6em;
  font-weight: 900;
  background: none;
  color: var(--clr-contrast);
  text-align: center;
  width: 50%;
  border: none;
}

main div.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

main div.title h1 {
  color: var(--clr-main);
  font-weight: 700;
  font-size: 2.8em;
}

main div.title div.location {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

main div.title div.location span#user-location {
  color: var(--clr-contrast);
  font-weight: 300;
  font-size: 1.1em;
}