@import url('/styles/colors.css');
@import url('/styles/general.css');
@import url('/styles/header.css');
@import url('/styles/footer.css');

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3vh;
}

main div.container {
  position: relative;
  width: 35vh;
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main div.container div.progress {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 50%;
  transform: rotate(45deg);
}

main div.clock.container div.progress {
  border: 5px solid var(--clr-second);
  clip-path: polygon(0 0, 50% 50%, 0 0, 0 0, 0 0, 0 0);
}

main div.stopwatch.container div.progress {
  border: 3px solid var(--clr-second);
  transition: 0.5s ease linear;
}

main div.container div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

main div.container div input#time {
  font-size: 2.6em;
  font-weight: 900;
  background: none;
  color: var(--clr-contrast);
  text-align: center;
  border: none;
  width: 90%;
}

main div.container div input#time:focus {
  outline: none;
}

main div.container div span {
  position: absolute;
  font-size: 1.2em;
  color: var(--clr-second);
  inset: 100% auto auto auto;
  transition: 0.2s ease;
}

main div.container div span#mili {
  font-weight: 900;
}

main div.container div.clock span#midday {
  font-weight: 300;
  visibility: hidden;
  opacity: 0;
}

main div.container div.clock span#midday.visible {
  visibility: visible;
  opacity: 1;
}

main div.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

main div.title h1 {
  color: var(--clr-main);
  font-weight: 700;
  font-size: 2.8em;
}

main div.title div.location {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

main div.title div.location span#user-location {
  color: var(--clr-contrast);
  font-weight: 300;
  font-size: 1.1em;
}

main div.actions {
  margin-top: 8vh;
}

main div.actions div.switch-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

main div.actions div.switch-container span {
  font-size: 1.2em;
  color: var(--clr-contrast);
  font-weight: 400;
}

main div.actions div.switch-container button {
  border-radius: 32px;
  width: 80px;
  height: 32px;
  background: var(--clr-contrast);
  position: relative;
  border: none;
  transition: 0.2s ease;
  cursor: pointer;
}

main div.actions div.switch-container button::after {
  position: absolute;
  width: 24px;
  height: 24px;
  content: '';
  background: var(--clr-background);
  border-radius: 50%;
  top: 4px;
  left: 4px;
  transition: 0.2s ease;
}

main div.actions div.switch-container button.on {
  background: var(--clr-second);
}

main div.actions div.switch-container button.on::after {
  left: calc(80px - 28px);
  background: var(--clr-contrast);
}

main div.actions div.buttons,
main div.actions div.buttons button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

main div.actions div.buttons button {
  gap: 5px;
  background: var(--clr-second);
  border: none;
  padding: 12px 36px;
  border-radius: 2px;
  cursor: pointer;
}

main div.actions div.buttons button:is(:hover, :focus) {
  background: var(--clr-second-dark);
}

main div.actions div.buttons button span {
  color: var(--clr-background);
  font-size: 1.4em;
}

@media screen and (max-width: 768px) {
  main {
    gap: 7vh;
  }

  main div.container {
    width: 30vh;
    height: 30vh;
  }

  main div.container div input#time {
    font-size: 2.2em;
  }

  main div.container div.clock span#midday {
    font-size: 1.1em;
  }

  main div.title h1 {
    font-size: 2.2em;
  }

  main div.actions {
    margin-top: 6vh;
  }
}

@media screen and (max-width: 480px) {
  main div.container div.progress {
    border: 4px solid var(--clr-second);
  }

  main div.container div input#time {
    font-size: 1.6em;
  }

  main div.container div.clock span#midday {
    font-size: 1em;
  }

  main div.title h1 {
    display: none;
  }

  main div.title div.location span#user-location {
    font-size: 1em;
  }

  main div.actions div.switch-container span {
    font-size: 1em;
  }

  main div.actions div.switch-container button {
    border-radius: 26px;
    width: 70px;
    height: 26px;
  }

  main div.actions div.switch-container button::after {
    width: 22px;
    height: 22px;
    top: 2px;
    left: 2px;
  }

  main div.actions div.switch-container button.on::after {
    left: calc(70px - 24px);
  }
}